# Summarising data

First, load the datasets we'll use in the examples

In [72]:
library(tidyverse) # load needed code libraries
finnish_deaths <- read_tsv("Finnish_deaths_1980-2020.tsv", col_types=cols(year='i', sex='f', age='i')) # load data
skvr <- read_tsv("skvr.tsv", col_types=cols(poem_id='c', collector_name='f', collection_year='i', collection_place='f', n_verses='i')) # load data

View(finnish_deaths |> slice_sample(n=5)) # print 5 random rows.
View(skvr |> slice_sample(n=5)) # print 5 random rows.

  year sex    age
1 1994 female 56
2 1980 male   68
3 2008 female 84
4 1980 female 66
5 1996 male   60

  poem_id           collector_name                      collection_year
1 SKVR XIV 912.     Alava, Vihtori                      1892
2 SKVR XII1 4422.   Vaasan suomalaisen lyseon konventti 1888
3 SKVR V3 1142.     Neovius, A. D.                      1888
4 SKVR XIII4 13038. Kyytinen, Pekka                     1935
5 SKVR VI2 6288.    Juutilainen, A. V.                  1887
  collection_place n_verses
1 Vihti             2
2 Reisjärvi        10
3 Lempaala          3
4 Kurkijoki         1
5 Puumala           5

To summarise data, you need two transformation verbs: `group_by()` and `summarise()`. Additionally, you need a summary function, for example `n()` (count), `min()`, `max()`, `mean()`, `median()`, `sd()` (standard deviation), `quantile()` (specified quantiles) or `sum()` (add together all numbers in the group). To hook these verbs together, you use the pipe operator `|>`. The variables to group by / summarise are specified within the parentheses. Names for the summary columns are given via the `=` definition operator.

In [83]:
finnish_deaths |>
  group_by(sex) |> # group by sex
  summarise(n_people=n(), min_age=min(age), max_age=max(age), mean_age=mean(age), sd_age=sd(age), q1_age=quantile(age, probs=1/4), median_age=median(age), , q3_age=quantile(age, probs=3/4)) # summarise by group

  sex    n_people min_age max_age mean_age sd_age   q1_age median_age q3_age
1 male   1015800  0       111     69.47296 16.54755 61     73         81
2 female 1011585  0       112     78.19311 14.44516 73     81         88

In [84]:
finnish_deaths |>
  group_by(year) |> # group by year
  summarise(n_people=n(), min_age=min(age), max_age=max(age), mean_age=mean(age), sd_age=sd(age), q1_age=quantile(age, probs=1/4), median_age=median(age), , q3_age=quantile(age, probs=3/4)) # summarise by group

   year n_people min_age max_age mean_age sd_age   q1_age median_age q3_age
1  1980 44398    0       104     68.74375 16.85826 62     72         80
2  1981 44404    0       105     69.01998 16.63846 62     73         80
3  1982 43408    0       104     69.22074 16.50435 62     73         80
4  1983 45388    0       107     69.75542 16.56611 63     73         81
5  1984 45098    0       105     69.90228 16.60021 63     74         81
6  1985 48198    0       108     70.64418 16.36270 64     74         81
7  1986 47135    0       106     70.48272 16.45542 63     74         82
8  1987 47949    0       107     70.68982 16.61293 64     75         82
9  1988 49063    0       106     70.88448 16.70853 64     75         82
10 1989 49110    0       110     71.08247 16.85196 64     75         82
11 1990 50058    0       109     71.30503 16.87432 64     76         83
12 1991 49294    0       106     71.46342 16.92053 64     76         83
13 1992 49844    0       106     71.91702 16.62473 65     76         83
14 1993 50988    0       106     72.73464 16.23748 66     77         84
15 1994 48000    0       109     72.54402 16.54953 66     77         84
16 1995 49280    0       107     72.85394 16.22343 66     77         84
17 1996 49167    0       106     73.14140 16.25597 66     77         85
18 1997 49108    0       105     73.24892 16.26952 66     77         85
19 1998 49262    0       107     73.42095 16.09432 66     77         85
20 1999 49345    0       107     73.62428 16.15680 67     77         85
21 2000 49339    0       112     73.80450 16.20928 67     78         85
22 2001 48550    0       107     74.08173 15.99707 67     78         85
23 2002 49418    0       107     74.49603 15.82922 67     78         86
24 2003 48996    0       107     74.49031 15.84491 67     78         86
25 2004 47600    0       106     74.05250 16.11725 66     78         86
26 2005 47928    0       111     74.03409 16.21280 65     78         85
27 2006 48065    0       110     74.56191 15.89693 66     78         86
28 2007 49077    0       109     74.73782 15.95314 66     79         86
29 2008 49094    0       107     74.98961 15.82061 66     79         86
30 2009 49883    0       111     75.32276 15.65866 67     79         86
31 2010 50887    0       108     75.73099 15.45919 67     80         87
32 2011 50585    0       107     76.09374 15.38687 68     80         87
33 2012 51707    0       107     76.47330 15.22090 68     80         87
34 2013 51472    0       109     76.75468 14.91699 68     80         87
35 2014 52186    0       109     77.18888 14.77950 69     81         88
36 2015 52492    0       111     77.60013 14.44055 69     81         88
37 2016 53923    0       107     77.77479 14.47011 70     81         88
38 2017 53722    0       110     77.82216 14.52375 70     81         88
39 2018 54527    0       110     78.14657 14.38874 71     81         88
40 2019 53949    0       108     78.18979 14.45998 71     81         89
41 2020 55488    0       110     78.34108 14.32959 71     81         89

You can also summarise without grouping, which summarises the whole table.

In [85]:
finnish_deaths |> 
  summarise(n_people=n(), min_age=min(age), max_age=max(age), mean_age=mean(age), sd_age=sd(age), q1_age=quantile(age, probs=1/4), median_age=median(age), , q3_age=quantile(age, probs=3/4))

    n_people min_age max_age mean_age sd_age   q1_age median_age q3_age
25% 2027385  0       112     73.82397 16.13443 66     77         85

# Some more transformation verbs

A few more verbs may also be useful for you here. The first of these is `arrange()`, which orders the rows by the given variable. 

To get you an idea of when to use this, let's say that from the SKVR data, I want to extract the top collectors. Here, I'm grouping by collector and counting poems (=rows) as well as verses (by summing up the amount of verses in each poem across the group). However, when I print the result, the order of rows isn't determined by either number.

In [98]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) # count number of poems collected, sum number of verses of each poem to get the total verse count

     collector_name                     n_poems n_verses
1    Lönnrot, Elias                     1526    44475
2    Borenius, A. A.                    1260    59018
3    Genetz, A.                          185    11798
4    Varonen, Matti                       65     2798
5    Inha, I. K.                         123     7490
6    Karjalainen, K.                     194    10831
7    Cajan, J. Fr.                       224     4935
8    Castrén, M. A.                      156     5404
9    Castrén, J. W.                        8      132
10   Europaeus, D. E. D.                2768    65430
11   Berner, A.                          127     9190
12   Meriläinen, Heikki                  876     9892
13   Basilier, Hj.                       260     7740
14   Blomstedt-Ojoinen, Yrjö              42     1580
15   Topelius, Zacharias                 149     4713
16   Hannikainen, P. J.                   16     1186
17   Sjögrén, A. J.                      142     3931
18   Krohn, Kaarle                      4013    61859
19   Niemi, A. R.                        346     8120
20   Marttini, Iivana                    390     5304
21   Ohrt, F.                              4      218
22   Gottlund, K. A.                     587     7995
23   Rautell, E. F.                      376     4623
24   Hannikainen, Lauri                   47     2082
25   Fellman, J.                         107     1295
26   Paulaharju, Samuli                 2709    29471
27   Engelberg, R. S.                    102      701
28   Ranta, Juho                           6       31
29   Liljeblad, J. F.                     19      288
30   Ollilainen, P.                      168     2319
⋮    ⋮                                  ⋮       ⋮
1559 Saario, Rakel                       9      69
1560 Lassinpelto, Lauri                  2       5
1561 Koskinen, Nanny                     3      11
1562 Alamäntylä, M.                      5      19
1563 Kujala, Antti                       7      30
1564 Palojoki, Sirkka                    2      10
1565 Vuorela, K.                         1       4
1566 Sohlman, K. G.                     13      63
1567 Vinberg, Aarne                      3      62
1568 Salmi, Juho                         1       6
1569 Nyholm, Saara                       5      20
1570 Aro, Heikki                         2       2
1571 Malin, Helga                        2       4
1572 Knuutila, Toivo                     8      32
1573 Hovi, Johannes                      3      24
1574 Salminen, Mikael                    1       1
1575 Lusenius, Ida                       3      19
1576 Vivolin, Aarne                      2       4
1577 Andberg, Pentti                     5      21
1578 Lindström, K. A. ja Mikkonen, Adam  1       2
1579 Lindström, K. A.                    4      13
1580 Andelin, Vilho                      4      34
1581 Lehmusto, Heikki                    3      10
1582 Kujala, Hilda                       2      10
1583 Suortti, M.                         2      20
1584 Allén, Tyyne                        7      35
1585 Hultin, Hj.                         2      11
1586 Bränny, Jaakko                      1       4
1587 Lampinen, Lyydi                     1       4
1588 Vuorio, Toini                       1       3

To fix this, I can add `arrange()` to the list of transformations. By default, `arrange()` sorts in ascending order. To specify a descending order, I wrap the variable inside `desc()`.

In [100]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) |> # count number of poems collected, sum number of verses of each poem to get the total verse count
  arrange(desc(n_poems)) # arrange rows in descending or of n_poems

     collector_name                           n_poems n_verses
1    Krohn, Kaarle                            4013    61859
2    Alava, Vihtori                           3081    62119
3    Europaeus, D. E. D.                      2768    65430
4    Paulaharju, Samuli                       2709    29471
5    Neovius, A. D.                           2511    39094
6    Porkka, Volmari                          2421    95594
7    Perä-Pohjolan ja Lapin Kotiseutuyhdistys 2164    14228
8    Salminen, Väinö                          1718    33920
9    Vihervaara, Eemeli                       1693    13018
10   Lönnrot, Elias                           1526    44475
11   Borenius, A. A.                          1260    59018
12   Laiho, Lauri                             1090    12472
13   Länkelä, Jaako                           1080    30429
14   Aaltonen, Esko                           1054     7539
15   Ruotsalainen, J. Fr.                     1049    25963
16   Haltsonen, Sulo                           995    11297
17   Salo, Aukusti                             993     6958
18   Mannonen, Ulla                            958     6181
19   Ahlqvist, A. E.                           953    17592
20   Reinholm, H. A.                           946    16994
21   Saxbäck, Fr. A.                           927    18788
22   Meriläinen, Heikki                        876     9892
23   Pennanen, Olavi                           703     4474
24   Pajula, Fanny M.                          697    16105
25   Rytkönen, Antti                           654     7059
26   Saariluoma, Vilho                         605     3587
27   Räikkönen, Eino                           602    12934
28   Gottlund, K. A.                           587     7995
29   Kallio, V. J.                             578     4177
30   Okkola, T. E.                             552     4111
⋮    ⋮                                        ⋮       ⋮
1559 Pitkäpaasi, Arvo                         1       21
1560 Tihinen, Emil                            1       24
1561 Vikman, P. E.                            1       30
1562 Elenius, Oskari                          1        3
1563 Olli, Juho                               1        6
1564 Ottonen                                  1        2
1565 Siitonen                                 1        1
1566 Laisi                                    1        3
1567 Hurmalainen, Juho                        1       11
1568 Säkkijärven Vilajoen nuorisoseura        1        3
1569 Snellman, Kirsti                         1        6
1570 Hauhia, Taimi                            1        4
1571 Teivonen, V.                             1        4
1572 Poskiparta, Tauno                        1        1
1573 Vihtari, Eine                            1        3
1574 Sairanen, Pentti                         1        6
1575 Sirelius, U. T.                          1        2
1576 Sirkiä, Konstantin                       1        4
1577 Peltolainen, Viljo                       1        4
1578 Lohi, Kalle                              1        6
1579 Vehviläinen. Lyyli                       1        4
1580 Bjuhr, Gustaf                            1        4
1581 Lehmusto, Alma                           1       10
1582 Vuorela, K.                              1        4
1583 Salmi, Juho                              1        6
1584 Salminen, Mikael                         1        1
1585 Lindström, K. A. ja Mikkonen, Adam       1        2
1586 Bränny, Jaakko                           1        4
1587 Lampinen, Lyydi                          1        4
1588 Vuorio, Toini                            1        3

Another useful verb here is often either `head()` or `tail()`, which allow you to get just the top/bottom N rows.

In [101]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) |> # count number of poems collected, sum number of verses of each poem to get the total verse count
  arrange(desc(n_poems)) |> # arrange rows in descending or of n_poems
  head(5) # top 5 rows

skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) |> # count number of poems collected, sum number of verses of each poem to get the total verse count
  arrange(desc(n_poems)) |> # arrange rows in descending or of n_poems
  tail(5) # bottom 5 rows

  collector_name      n_poems n_verses
1 Krohn, Kaarle       4013    61859
2 Alava, Vihtori      3081    62119
3 Europaeus, D. E. D. 2768    65430
4 Paulaharju, Samuli  2709    29471
5 Neovius, A. D.      2511    39094

  collector_name                     n_poems n_verses
1 Salminen, Mikael                   1       1
2 Lindström, K. A. ja Mikkonen, Adam 1       2
3 Bränny, Jaakko                     1       4
4 Lampinen, Lyydi                    1       4
5 Vuorio, Toini                      1       3

In addition, you should also know `filter()`, which allows you to filter the table to just the rows fulfilling certain criteria.

In [79]:
finnish_deaths |>
  filter(year>=2010, year<=2015) |> # I'm only interested in the period between 2010-2015
  group_by(year) |> # group by year
  summarise(n_people=n(), mean_age=mean(age), sd_age=sd(age), q1_age=quantile(age, probs=1/4), median_age=median(age), q3_age=quantile(age, probs=3/4)) # summarise by group

  year n_people mean_age sd_age   q1_age median_age q3_age
1 2010 50887    75.73099 15.45919 67     80         87
2 2011 50585    76.09374 15.38687 68     80         87
3 2012 51707    76.47330 15.22090 68     80         87
4 2013 51472    76.75468 14.91699 68     80         87
5 2014 52186    77.18888 14.77950 69     81         88
6 2015 52492    77.60013 14.44055 69     81         88

In [102]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) |> # count number of poems collected, sum number of verses of each poem to get the total verse count
  arrange(desc(n_poems)) |> # arrange rows in descending or of n_poems
  filter(n_poems>=1000) # I'm interested only in collectors who collected 1000 or more poems.

   collector_name                           n_poems n_verses
1  Krohn, Kaarle                            4013    61859
2  Alava, Vihtori                           3081    62119
3  Europaeus, D. E. D.                      2768    65430
4  Paulaharju, Samuli                       2709    29471
5  Neovius, A. D.                           2511    39094
6  Porkka, Volmari                          2421    95594
7  Perä-Pohjolan ja Lapin Kotiseutuyhdistys 2164    14228
8  Salminen, Väinö                          1718    33920
9  Vihervaara, Eemeli                       1693    13018
10 Lönnrot, Elias                           1526    44475
11 Borenius, A. A.                          1260    59018
12 Laiho, Lauri                             1090    12472
13 Länkelä, Jaako                           1080    30429
14 Aaltonen, Esko                           1054     7539
15 Ruotsalainen, J. Fr.                     1049    25963

Finally, `mutate()` can be used to add new columns based on existing columns.

In [81]:
finnish_deaths |>
  group_by(year) |> # group by year
  summarise(n_people=n(), mean_age=mean(age), sd_age=sd(age), q1_age=quantile(age, probs=1/4), median_age=median(age), q3_age=quantile(age, probs=3/4)) |> # summarise by group
  mutate(age_inter_quartile_range=q3_age - q1_age) |> # calculate the inter-quartile range of ages as Q3-Q1.
  arrange(age_inter_quartile_range) |> # arrange in ascending order by inter-quartile range to find the years where ages at death varied the least
  head(5) # print only the 5 years with the lowest inter-quartile range

  year n_people mean_age sd_age   q1_age median_age q3_age
1 1985 48198    70.64418 16.36270 64     74         81
2 2018 54527    78.14657 14.38874 71     81         88
3 1980 44398    68.74375 16.85826 62     72         80
4 1981 44404    69.01998 16.63846 62     73         80
5 1982 43408    69.22074 16.50435 62     73         80
  age_inter_quartile_range
1 17
2 17
3 18
4 18
5 18

In all of the above, I've referred to the verbs as transformation verbs. At this point, it's important to understand what that means: 
1. each verb takes in a table and produces a table.
2. the `|>` operator passes the table produced by the previous verb to the next. 

Now, the important bit is that each verb may or may not completely transform the rows and columns of the table. And this basically matters so that you can't use something that you've already lost. So, for example, if you've done a `summary()`, after that you don't have the original data for another summary. And if you've done a `head()`, a subsequent `summary()` will only summarise the top N rows. See below:

In [82]:
finnish_deaths |>
  group_by(sex) |> # group by sex
  summarise(mean_age=mean(age)) |> # get mean age
  summarise(sd_age=sd(age)) # get standard deviation of age WON'T WORK because there now longer is an age, there's only mean_age.

ERROR: Error in `summarise()`:
ℹ In argument: `sd_age = sd(age)`.
Caused by error:
! object 'age' not found

In [ ]:
finnish_deaths |>
  head(5) |> # take only first 5 rows
  group_by(sex) |> # group by sex
  summarise(mean_age=mean(age)) # get mean age CALCULATES THE MEAN AGES FROM ONLY THE FIRST 5 rows.

Combining these verbs, you can do some pretty complex data wrangling. For example, to learn the percentage of men and women who live to at least a 100, you can do:

In [ ]:
finnish_deaths |>
  mutate(died_really_old=age>=100) |> # create a new column that has TRUE/FALSE for whether the person died really old
  group_by(sex, died_really_old) |> # group by sex and the new column 
  summarise(n_people=n(), .groups="drop") |> # count the number of people in each of the four groups (male-old, male-not-old, female-old, female-not-old)
  group_by(sex) |> # group the resulting four by four table again by sex
  mutate(percentage=n_people / sum(n_people) * 100) |> # here, sum() gives us the total n_people for each sex, using which we can turn the absolute numbers into proportions and from those to percentages, telling us which percentage of males/females died really old/not really old 
  filter(died_really_old) |>  # if we're interested in the percentages of really old, don't need to keep the percentages of not really old
  select(sex, percentage) # a final new verb here, which throws out all other columns apart from the ones specified

telling us that only 0.1% of men live to a hundred or more, while 0.6% of women do.

If you want to learn more about these transformation verbs, see e.g. the [Data Wrangling](https://moderndive.com/v2/wrangling.html) section of [ModernDive](https://moderndive.com/v2/index.html). At a later point, you may also find this [Data transformation cheat sheet](https://rstudio.github.io/cheatsheets/data-transformation.pdf) useful.

# Exercises

In all of the below, unless specified otherwise, your task is to replace the portion marked with `???` with the appropriate code to produce the desired result

Exercise: figure out how many Finns of each sex lived to at least 110 years old?

In [89]:
finnish_deaths |>
  filter(age>=110) |>
  group_by(???) |>
  summarise(n_people=n())

  sex    n_people
1 male   1
2 female 9

Exercise: list all the info we have of these people:

In [90]:
finnish_deaths |>
  filter(???)

   year sex    age
1  1989 female 110
2  2000 female 112
3  2005 female 111
4  2006 female 110
5  2006 female 110
6  2009 male   111
7  2015 female 111
8  2017 female 110
9  2018 female 110
10 2020 female 110

Exercise: modify to below code to return the top ten collectors by number of verses instead of the top five by number of poems.

In [106]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), n_verses=sum(n_verses)) |> # count number of poems collected, sum number of verses of each poem to get the total verse count
  arrange(desc(n_poems)) |> # arrange rows in descending or of n_poems
  head(5) # top 5 rows

   collector_name      n_poems n_verses
1  Porkka, Volmari     2421    95594
2  Europaeus, D. E. D. 2768    65430
3  Alava, Vihtori      3081    62119
4  Krohn, Kaarle       4013    61859
5  Borenius, A. A.     1260    59018
6  Lönnrot, Elias      1526    44475
7  Neovius, A. D.      2511    39094
8  Salminen, Väinö     1718    33920
9  Länkelä, Jaako      1080    30429
10 Paulaharju, Samuli  2709    29471

Exercise: add an appropriate `filter()` to an appropriate place in the code below to filter the report to only collectors who collected a hundred or more poems.

In [111]:
skvr |>
  group_by(collector_name) |> # group by collector
  summarise(n_poems=n(), mean_poem_length=mean(n_verses)) |> # count number of poems collected and the mean length of those poems
  arrange(desc(mean_poem_length)) |> # arrange rows in descending order of mean_poem_length
  head(5) # top 5 rows

  collector_name  n_poems mean_poem_length
1 Berner, A.       127    72.36220
2 Genetz, A.       185    63.77297
3 Inha, I. K.      123    60.89431
4 Karjalainen, K.  194    55.82990
5 Borenius, A. A. 1260    46.83968

Exercise: print the `collection_place`s from where Elias Lönnrot collected the most poems in order:

In [91]:
skvr |>
  filter(collector_name=="Lönnrot, Elias") |>
  group_by(???) |>
  summarise(???) |>
  arrange(desc(n_poems))

   collection_place n_poems
1  Vuokkiniemi      287
2  Ilomantsi        269
3  Uhtua            138
4  Kontokki         126
5  Tuupovaara        95
6  Pielisjärvi       92
7  Kesälahti         69
8  Liperi            65
9  Kitee             51
10 Kerimäki          41
11 Eno               40
12 Nurmes            36
13 Rääkkylä          34
14 Kattila           30
15 Jyskyjärvi        28
16 Kiihtelysvaara    17
17 Suomussalmi       16
18 Tohmajärvi        13
19 Repola            10
20 Jaakkima           9
21 Sääksmäki          6
22 Kurkijoki          6
23 Juuka              5
24 Sotkamo            5
25 Kiestinki          4
26 Urjala             4
27 Kontiolahti        4
28 Tampere            4
29 Kiuruvesi          3
30 Kiimaisjärvi       2
31 Viitasaari         2
32 Juva               2
33 Suistamo           2
34 Pistojärvi         1
35 Rukajärvi          1
36 Hämeenlinna        1
37 Rautalampi         1
38 Hirvensalmi        1
39 Impilahti          1
40 Pälkjärvi          1
41 Lieksa             1
42 Vesilahti          1
43 Tottijärvi         1
44 Paltamo            1

Exercise 4: find the median and mean numbers of poems we have from each `collection_place`.

In [96]:
skvr |>
  group_by(collection_place) |>
  summarise(???) |> 
  summarise(median_n_poems=median(n_poems), mean_n_poems=mean(n_poems))

  median_n_poems mean_n_poems
1 62             149.1629